.report-container {
    background-color: #269;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    min-height: 1000px;
  }
  .pdf-view{
    min-height: 1000px;
    min-width: 100%;
  }