@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.sub-tabs {
    justify-content: center;
    background-color: rgb(33, 30, 30);
}

.sub-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

/* .sub-container {
    text-align: center;
    background-color: #0468ff;
} */

/* .carousel-images {
    max-width: 50%;
    max-height: 50%;
    border-radius: 40%;
}

.carousel-container {
    background-color: #0a0d0f9a;
} */

/* 
.sub-header {
    vertical-align: middle;
    padding-top: 12px;
}

.sub-p {
    font-size: 20px;
    line-height: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
}

.sub-img {
    max-width: 400px;
    max-height: 600px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.sub-me-container {
    margin-right: 10%;
    margin-left: 10%;
  
}
.sub-ee-container {
    margin-right: 10%;
    margin-left: 10%;
  
}
.sub-cs-container {
    margin-right: 10%;
    margin-left: 10%;
  
} */

  /* iPhone X, iPhone 6/7/8 Plus, */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-img-gyarados {
        width: 270px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-img-gyarados {
        max-width: 270px;
        max-height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}



/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-img-gyarados {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-img-gyarados {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	  
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .sub-img {
        width: 300px;
        height: 300px
    }

    .sub-img-gyarados {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 24px;
        line-height: 35px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}
