.about-jumbotron {
    background-color:rgba(41, 39, 39, 0.76);
    font-size: 16px;
    color:white;
    text-align: center;
    margin-bottom: 0px;
    
}

.about-p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}