@import url('https://fonts.googleapis.com/css?family=Audiowide');

.splashpage-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.motto {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(7, 0, 14);
}
.title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(7, 0, 14);
}

.video-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.video-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.video-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Audiowide';
}

.video-btns {
  margin-top: 32px;
}

.video-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

#under-p {
  font-family: 'Audiowide';
  color: rgb(255, 255, 255);
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(7, 0, 14);
}

@media screen and (max-width: 960px) {
  .video-container > h1 {
    font-size: 90px;
    margin-top: -150px;
  }
  #under-p {
    font-family: 'Audiowide';
    color: rgb(255, 255, 255);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(7, 0, 14);
  }
}

@media screen and (max-width: 768px) {
  .video-container > h1 {
    font-size: 40px;
    margin-top: -100px;
  }

  .video-container > p {
    font-size: 20px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
  #under-p {
    font-family: 'Audiowide';
    color: rgb(255, 255, 255);
    font-size: 20px;
    -webkit-text-stroke-width: 0px;
    font-weight: 500;
  }
}

