@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.sub-team-jumbo {
    background-color: white;
}
.sub-tabs {
    justify-content: center;
    background-color: rgb(33, 30, 30);
}

.sub-jumbo {
    background-color: white;
    width: 100%;
    justify-content: center;
}

.sub-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

.sub-name {
    color: rgb(0, 132, 255);
    text-align: center;
    font-size: 70px;
    outline-style: dotted;
    outline-width: thick;
    -webkit-text-stroke: 2px black;
}

.sub-h1 {
    color: rgb(0, 132, 255);
    border: 4px solid #ffffff;
    border-top: 5px solid #0384fd;
    border-bottom: 5px solid #0384fd;
    font-size: 50px;
    border-radius: 25px;
    padding: 5px;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 30, 30);
}

#sub-h1 {
    text-align: left;
    font-size: 40px;
    font-family: "Audiowide", sans-serif;
}

.sub-row-imgs {
    justify-content: space-evenly;
}

.sub-carousel-img {
    width: 800px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sub-carousel {
    background-color: rgb(94, 91, 91);
    color: black;
    border: 4px solid black;
    border-radius: 10px;
    margin: 15px;
}

.sub-carousel-title {
    font-size: 26px;
    font-family: 'Source Code Pro';
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
}
.sub-p {
    font-family: 'Source Code Pro', monospace;
    background: #3b3434;
    border: 1px solid #ddd;
    border-left: 7px solid #0384fd;
    border-right: 7px solid #0384fd;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    page-break-inside: avoid;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    font-weight: bold;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.sub-year {
    font-family: 'Source Code Pro';
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    background-color: #0384fd;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    border: 4px solid black;
}

.sub-year-animated {
    font-family: 'Source Code Pro';
    font-weight: bolder;
    font-size: 40px;
}

.sub-img {
    width: 400px;
    height: 400px
}

/* .sub-container {
    text-align: center;
    background-color: #0468ff;
} */

/* .carousel-images {
    max-width: 50%;
    max-height: 50%;
    border-radius: 40%;
}

.carousel-container {
    background-color: #0a0d0f9a;
} */

/* 
.sub-header {
    vertical-align: middle;
    padding-top: 12px;
}

.sub-p {
    font-size: 20px;
    line-height: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    
}

.sub-img {
    max-width: 400px;
    max-height: 600px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.sub-me-container {
    margin-right: 10%;
    margin-left: 10%;
  
}
.sub-ee-container {
    margin-right: 10%;
    margin-left: 10%;
  
}
.sub-cs-container {
    margin-right: 10%;
    margin-left: 10%;
  
} */

  /* iPhone X, iPhone 6/7/8 Plus, */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .sub-jumbo {
        background-color: white;
        justify-content: center;
    }
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .sub-name {
        font-size: 40px;
        -webkit-text-stroke: 1.3px black;
    }

    .sub-year {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }
    
    .sub-year-animated {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
    }

    .sub-h1 {
        font-size: 20px;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-carousel-img {
        width: 240px;
        height: 150px;
    }
    .sub-carousel-title {
        font-size: 18px;
    }
    .sub-p {
        font-size: 12px;
    }

    .sub-img-gyarados {
        width: 270px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .sub-jumbo {
        background-color: white;
        justify-content: center;
    }
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .sub-name {
        font-size: 40px;
        -webkit-text-stroke: 1.3px black;
    }
    .sub-year {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }
    
    .sub-year-animated {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
    }

    .sub-h1 {
        font-size: 20px;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }

    .sub-carousel-img {
        width: 240px;
        height: 150px;
    }
    .sub-carousel-title {
        font-size: 18px;
    }
    .sub-p {
        font-size: 12px;
    }

    .sub-img-gyarados {
        max-width: 270px;
        max-height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}



/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    .sub-jumbo {
        background-color: white;
        justify-content: center;
    }
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .sub-name {
        font-size: 40px;
        -webkit-text-stroke: 1.3px black;
    }
    .sub-year {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }
    
    .sub-year-animated {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
    }

    .sub-h1 {
        font-size: 20px;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }
    .sub-carousel-img {
        width: 240px;
        height: 150px;
    }
    .sub-carousel-title {
        font-size: 18px;
    }

    .sub-p {
        font-size: 12px;
    }

    .sub-img-gyarados {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .sub-jumbo {
        background-color: white;
        justify-content: center;
    }
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .sub-name {
        font-size: 40px;
        -webkit-text-stroke: 1.3px black;
    }
    .sub-year {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }
    
    .sub-year-animated {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 20px;
    }

    .sub-h1 {
        font-size: 20px;
    }

    .sub-img {
        width: 220px;
        height: 220px
    }
    .sub-carousel-img {
        width: 240px;
        height: 150px;
    }
    .sub-carousel-title {
        font-size: 18px;
    }

    .sub-p {
        font-size: 12px;
    }

    .sub-img-gyarados {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 14px;
        line-height: 25px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sub-jumbo {
        background-color: white;
        justify-content: center;
    }
    .sub-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .sub-name {
        font-size: 60px;
        -webkit-text-stroke: 2px black;
    }
    .sub-year {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }
    
    .sub-year-animated {
        font-family: 'Source Code Pro';
        font-weight: bolder;
        font-size: 30px;
    }

    .sub-h1 {
        font-size: 30px;
    }

    .sub-img {
        width: 300px;
        height: 300px
    }

    .sub-carousel-img {
        width:380px;
        height: 250px;
    }

    .sub-carousel-title {
        font-size: 23px;
    }
    
    .sub-p {
        font-size: 16px;
    }

    .sub-img-gyarados {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }
    .sub-p-gyarados {
        font-size: 24px;
        line-height: 35px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .sub-me-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-ee-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
    .sub-cs-container-gyarados {
        margin-right: 5%;
        margin-left: 5%;
      
    }
}
